{% extends "layout.html" %}

{% block title %} - Market{% endblock %}

{% block head %}
    <script type="text/javascript">
        var pokemon_at_sale = {{ pokemon_at_sale|tojson }};
        var user = {{ user|tojson }};
    </script>
{% endblock %}

{% block main %}

    <h1>Market</h1>
    <p>{{ user["username"] }}'s balance: ${{ user["cash"] }}</p>

    <!-- <h2>Your pokémon</h2> -->
    <div id="playerPokemonDiv">

    </div>



    <h2>Pokémon for sale</h2>
    <div id="othersPokemonDiv">

    </div>
    
    <script src="/static/js/market.js"></script>
{% endblock %}
